# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# eclipse #
.classpath
.project

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### my own ###
.settings
target
.idea