<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.mingshan.service.dao.FolderDao">
    <resultMap id="folderResultMap" type="me.mingshan.facade.model.Folder">
        <id column="id" property="id"/>
        <result column="label" property="label"/>
        <result column="level" property="level"/>
        <result column="pid" property="pid"/>
        <result column="uid" property="uid"/>
        <result column="is_deleted" property="deleted"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <!-- 查询sql -->
    <sql id="query_folder_where">

        <if test="ids !=null and ids!='' ">
            <!-- foreach  遍历集合  拼接sql  id in(1,2) -->
            <foreach collection="ids" item="item" open="id in(" close=")" separator="," >
                #{item}
            </foreach>
        </if>

    </sql>

    <select id="selectByPrimaryKey"  parameterType="java.lang.Long" resultMap="folderResultMap">
        select f.id,
               f.label,
               f.level,
               f.uid,
               f.pid,
               f.is_deleted
        from hn_folder f
        where f.id = #{id} and f.is_deleted = 0
    </select>

    <select id="selectAllByUid" parameterType="java.lang.Long" resultMap="folderResultMap">
        select f.id,
               f.label,
               f.level,
               f.uid,
               f.pid,
               f.is_deleted
        from hn_folder f
        where f.uid = #{uid} and f.is_deleted = 0
    </select>

    <select id="selectByLabel" resultMap="folderResultMap">
        select f.id,
               f.label,
               f.level,
               f.uid,
               f.pid,
               f.is_deleted
        from hn_folder f
        where f.label = #{label} and f.uid = #{uid} and f.is_deleted = 0
    </select>

    <select id="selectVersion" parameterType="java.lang.Long" resultType="java.lang.Integer">
        select version from hn_folder where id = #{id}
    </select>

    <!-- 添加-->
    <insert id="insert" parameterType="me.mingshan.facade.model.Folder" useGeneratedKeys="true" keyProperty="id">
        insert into hn_folder (
            label,
            level,
            uid,
            pid,
            gmt_create,
            gmt_modified)
        values(
            #{label},
            #{level},
            #{uid},
            #{pid},
            NOW(),
            NOW())
    </insert>

    <!--逻辑删除-->
    <update id="delete" parameterType="java.lang.Long">
        update hn_folder set is_deleted = 1, gmt_modified = NOW() where is_deleted = 0 and id = #{id}
    </update>

    <update id="rename" parameterType="me.mingshan.facade.model.Folder">
        update hn_folder set label = #{label}, gmt_modified = NOW() where id = #{id}
    </update>

</mapper>