<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.mingshan.service.dao.TagDao">
    <resultMap id="tagResultMap" type="me.mingshan.facade.model.Tag">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="is_deleted" property="deleted"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="tagResultMap">
        select t.id,
               t.name,
               t.is_deleted,
               t.gmt_create,
               t.gmt_modified
        from hn_tag t
        where t.id = #{id}
    </select>

    <select id="selectAllByNid" parameterType="java.lang.Long" resultMap="tagResultMap">
        select t.id,
               t.name,
               t.is_deleted,
               t.gmt_create,
               t.gmt_modified
        from hn_tag t
        left join hn_note_to_tag ntg on ntg.tag_id = t.id
        where ntg.note_id = #{nid} and t.is_deleted = 0
    </select>

    <select id="selectByNameUid" resultMap="tagResultMap">
        select t.id
        from hn_tag t
        where t.name = #{name} and t.uid = #{uid} and t.is_deleted = 0
    </select>

    <select id="selectByUid" parameterType="java.lang.Long" resultMap="tagResultMap">
        select t.id,
               t.name,
               t.is_deleted,
               t.gmt_create,
               t.gmt_modified
        from hn_tag t where t.uid = #{uid} and t.is_deleted = 0
    </select>

    <insert id="insert" parameterType="me.mingshan.facade.model.Tag" useGeneratedKeys="true" keyProperty="id">
        insert into hn_tag(
          name,
          uid,
          gmt_create,
          gmt_modified)
        values(
          #{name},
          #{uid},
          NOW(),
          NOW())
    </insert>

    <insert id="insertNoteToTag" parameterType="me.mingshan.facade.model.NoteToTag">
        insert into hn_note_to_tag(
          note_id,
          tag_id,
          gmt_create,
          gmt_modified)
        values(
          #{noteId},
          #{tagId},
          NOW(),
          NOW())
    </insert>
</mapper>