<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<mapper namespace="me.mingshan.hnote.service.dao.UserDao">

    <!-- 用户信息 resultMap -->
    <resultMap type="me.mingshan.hnote.facade.model.User" id="userResultMap">

       <id column="id" property="id"/>
       <result column="name" property="name"/>
       <result column="password" property="password"/>
       <result column="email" property="email"/>
       <result column="avatar_url" property="avatarUrl"/>
    </resultMap>

    <!-- 查询sql -->
    <sql id="query_user_where">

         <if test="name != null and name !=''">
         and name=#{name}
         </if>

        <if test="ids !=null and ids!='' ">
            <!-- foreach  遍历集合  拼接sql  id in(1,2) -->
             <foreach collection="ids" item="item" open="id in(" close=")" separator="," >
                 #{item}
             </foreach>
        </if>
    </sql>


    <!-- 根据id获取用户信息 -->
    <select id="selectByPrimaryKey"  parameterType="java.lang.Long" resultMap="userResultMap">
        select id, name, email,avatar_url from hn_user where id = #{id}
    </select>

    <select id="selectByUserName" resultMap="userResultMap">
        select id, name, email, password from hn_user where name = #{name}
    </select>

    <select id="selectVersion" parameterType="java.lang.Long" resultType="java.lang.Integer">
        select version from hn_user where id = #{id}
    </select>

    <!-- 添加用户 -->
    <insert id="insert" parameterType="me.mingshan.hnote.facade.model.User" useGeneratedKeys="true" keyProperty="id">
        insert into hn_user (
          name,
          password,
          email,
          salt,
          age,
          avatar_url,
          gmt_create,
          gmt_modified )
        values (
          #{name},
          #{password},
          #{email},
          #{salt},
          #{age},
          #{avatarUrl},
          NOW(),
          NOW() )
    </insert>

    <!-- 删除用户 -批量-->
    <delete id="delete" parameterType="me.mingshan.hnote.facade.model.User">
       update hn_user set is_deleted = 1 where is_deleted = 0 and id = #{id}
    </delete>

    <!-- 修改用户 -->
    <update id="update" parameterType="me.mingshan.hnote.facade.model.User">
        update hn_user
        <set>
              <if test="name !=null and name !=''">
                name=#{name},
              </if>
              <if test="password != null and password != ''">
                password=#{password},
              </if>
              <if test="email != null and email != ''">
                email=#{email},
              </if>
              <if test="avatarUrl != null and avatarUrl != ''">
                avatarUrl=#{avatarUrl}
              </if>
              <!-- 自行添加其他 -->
        </set>
        where id=#{id}
    </update>

</mapper>
