input {
    stdin {
    }
    jdbc {
      # 数据库
      jdbc_connection_string => "jdbc:mysql://localhost:3306/hnote"
      # 用户名密码
      jdbc_user => "root"
      jdbc_password => "admin"
      # jar包的位置
      jdbc_driver_library => "D:\maven\repository\mysql\mysql-connector-java\5.1.44\mysql-connector-java-5.1.44.jar"
      # mysql的Driver
      jdbc_driver_class => "com.mysql.jdbc.Driver"
      jdbc_paging_enabled => "true"
      jdbc_page_size => "50000"
      statement_filepath => "../etc/note.sql"
      schedule => "* * * * *"
      # 索引的类型
      type => "note"
    }
}

filter {
	mutate {
		add_field => {
			"[noteType][id]" => "%{nt_id}"
			"[noteType][name]" => "%{nt_name}"
			"[folder][id]" => "%{folder_id}"
			"[folder][label]" => "%{folder_name}"
			"[folder][level]" => "%{folder_level}"
			"[folder][pid]" => "%{folder_pid}"
		}
		remove_field => [ "nt_id", "nt_name", "folder_id", "folder_name", "folder_level", "folder_pid"]            
	}
}

output {
    elasticsearch {
        hosts => "127.0.0.1:9200"
        # index名
        index => "hnote"
        # 需要关联的数据库中有有一个id字段，对应索引的id号
        document_id => "%{id}"
    }
    stdout {
        codec => json_lines
    }
}