<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="hnote-servcie-provider"/>

    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>

    <dubbo:protocol name="dubbo" port="20880"/>

    <bean id="userService" class="me.mingshan.hnote.service.impl.UserServiceImpl"/>
    <bean id="noteService" class="me.mingshan.hnote.service.impl.NoteServiceImpl"/>
    <bean id="folderService" class="me.mingshan.hnote.service.impl.FolderServiceImpl"/>
    <bean id="tagService" class="me.mingshan.hnote.service.impl.TagServiceImpl"/>
    <bean id="trashService" class="me.mingshan.hnote.service.impl.TrashServiceImpl"/>
    <bean id="tokenService" class="me.mingshan.hnote.service.impl.RedisTokenServiceImpl"/>
    <bean id="shareService" class="me.mingshan.hnote.service.impl.ShareServiceImpl"/>

    <dubbo:service interface="me.mingshan.hnote.facade.service.UserService" ref="userService"/>
    <dubbo:service interface="me.mingshan.hnote.facade.service.NoteService" ref="noteService"/>
    <dubbo:service interface="me.mingshan.hnote.facade.service.FolderService" ref="folderService"/>
    <dubbo:service interface="me.mingshan.hnote.facade.service.TagService" ref="tagService"/>
    <dubbo:service interface="me.mingshan.hnote.facade.service.TrashService" ref="trashService"/>
    <dubbo:service interface="me.mingshan.hnote.facade.service.TokenService" ref="tokenService"/>
    <dubbo:service interface="me.mingshan.hnote.facade.service.ShareService" ref="shareService"/>

</beans>