<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="hnote-servcie-provider"/>

    <dubbo:registry address="zookeeper://127.0.0.1:2181"/>

    <dubbo:protocol name="dubbo" port="20880"/>

    <bean id="userService" class="me.mingshan.service.impl.UserServiceImpl"/>
    <bean id="noteService" class="me.mingshan.service.impl.NoteServiceImpl"/>

    <dubbo:service interface="me.mingshan.facade.service.UserService" ref="userService"/>
    <dubbo:service interface="me.mingshan.facade.service.NoteService" ref="noteService"/>

</beans>